*::-webkit-media-controls-panel {
	display: none!important;
	-webkit-appearance: none;
}

/* Old shadow dom for play button */

*::--webkit-media-controls-play-button {
	display: none!important;
	-webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works */

*::-webkit-media-controls-start-playback-button {
	display: none!important;
	-webkit-appearance: none;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-o-keyframes fade-in {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes fade-in {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-webkit-keyframes av-loading-dash {
  0% {
    stroke-dasharray: 1,210;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 130,220;
    stroke-dashoffset: -50; }
  100% {
    stroke-dasharray: 170,220;
    stroke-dashoffset: -210; } }
@-moz-keyframes av-loading-dash {
  0% {
    stroke-dasharray: 1,210;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 130,220;
    stroke-dashoffset: -50; }
  100% {
    stroke-dasharray: 170,220;
    stroke-dashoffset: -210; } }
@-o-keyframes av-loading-dash {
  0% {
    stroke-dasharray: 1,210;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 130,220;
    stroke-dashoffset: -50; }
  100% {
    stroke-dasharray: 170,220;
    stroke-dashoffset: -210; } }
@keyframes av-loading-dash {
  0% {
    stroke-dasharray: 1,210;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 130,220;
    stroke-dashoffset: -50; }
  100% {
    stroke-dasharray: 170,220;
    stroke-dashoffset: -210; } }
@-webkit-keyframes av-loading-rotate {
  0% {
    stroke: white;
    transform: rotate(0deg); }
  100% {
    stroke: currentColor;
    transform: rotate(360deg); } }
@-moz-keyframes av-loading-rotate {
  0% {
    stroke: white;
    transform: rotate(0deg); }
  100% {
    stroke: currentColor;
    transform: rotate(360deg); } }
@-o-keyframes av-loading-rotate {
  0% {
    stroke: white;
    transform: rotate(0deg); }
  100% {
    stroke: currentColor;
    transform: rotate(360deg); } }
@keyframes av-loading-rotate {
  0% {
    stroke: white;
    transform: rotate(0deg); }
  100% {
    stroke: currentColor;
    transform: rotate(360deg); } }
#av-container {
  position: relative;
  width: 640px;
  height: 360px;
  background: black;
  margin: 0;
  overflow: hidden; }
  #av-container #av-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    #av-container #av-inner #slot {
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;
      -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }
      #av-container #av-inner #slot #preloader {
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        outline: none; }
        #av-container #av-inner #slot #preloader svg {
          position: absolute;
          top: 50%;
          left: 50%; }
          #av-container #av-inner #slot #preloader svg.icon {
            fill: white;
            width: 50px;
            height: 50px;
            margin-left: -25px;
            margin-top: -25px; }
          #av-container #av-inner #slot #preloader svg.circle {
            fill: transparent;
            stroke: rgba(255, 255, 255, 0.2);
            stroke-width: 3;
            width: 70px;
            height: 70px;
            margin-left: -35px;
            margin-top: -35px; }
            #av-container #av-inner #slot #preloader svg.circle.active {
              color: red;
              stroke: white;
              stroke-linecap: round;
              animation: av-loading-dash 2s ease infinite,av-loading-rotate 2.5s linear infinite; }
      #av-container #av-inner #slot #videoslot {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
		-ms-transform: translateY(-50%); /* IE 9 */
		-webkit-transform: translateY(-50%); /* Safari */
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        object-fit: initial;
        opacity: 0;
        filter: alpha(opacity=0); }
      #av-container #av-inner #slot #videoslot.loaded {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-animation: fade-in 0.5s ease;
        -moz-animation: fade-in 0.5s ease;
        -o-animation: fade-in 0.5s ease;
        animation: fade-in 0.5s ease; }
    #av-container #av-inner #gui:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 15%;
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
      background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=0 ); }
    #av-container #av-inner #gui #timeline {
      position: absolute;
      bottom: 45px;
      left: 10px;
      right: 10px;
      height: 2px;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.5);
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1); }
      #av-container #av-inner #gui #timeline #timeline-buffer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background: white;
        -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1); }
      #av-container #av-inner #gui #timeline #timeline-progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background: red; }
    #av-container #av-inner #gui #buttons {
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
      #av-container #av-inner #gui #buttons #play-pause, #av-container #av-inner #gui #buttons #phone, #av-container #av-inner #gui #buttons #sound, #av-container #av-inner #gui #buttons #share, #av-container #av-inner #gui #buttons #fullscreen {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: cover; }
      #av-container #av-inner #gui #buttons #left, #av-container #av-inner #gui #buttons #right {
        position: absolute;
        height: 24px;
        bottom: 11px; }
      #av-container #av-inner #gui #buttons #left {
        left: 13px; }
        #av-container #av-inner #gui #buttons #left > div {
          position: relative;
          float: left;
          margin-right: 14px; }
        #av-container #av-inner #gui #buttons #left #play-pause.play {
          background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22play-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2223%22%20viewBox%3D%220%200%2022.677%2022.677%22%20width%3D%2223%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2022.677%2022.677%22%3E%09%3Cpath%20fill%3D%22white%22%20d%3D%22m19.343%2011.251c-0.035-0.439-0.334-0.874-0.902-1.207l-10.905-6.403c-1.211-0.712-2.203-0.138-2.203%201.275v7.463c5.85-2.36%2013.783-1.163%2014.01-1.128z%22%2F%3E%09%3Cpath%20fill%3D%22white%22%20d%3D%22m5.333%2017v0.762c0%201.412%200.992%201.985%202.203%201.273l10.904-6.402c0.643-0.377%200.941-0.882%200.902-1.379-8.65%200.696-12.404%203.614-14.009%205.746z%22%2F%3E%3C%2Fsvg%3E"); }
        #av-container #av-inner #gui #buttons #left #play-pause.pause {
          background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22pause-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2223%22%20viewBox%3D%220%200%2022.677%2022.677%22%20width%3D%2223%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2022.677%2022.677%22%3E%09%09%3Cpath%20fill%3D%22white%22%20d%3D%22m4.338%2019.339h5v-16h-5v16zm9.001-16.001v16h5v-16h-5z%22%2F%3E%3C%2Fsvg%3E"); }
        #av-container #av-inner #gui #buttons #left #play-pause.replay {
          background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22replay-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2223%22%20viewBox%3D%220%200%2022.677%2022.677%22%20width%3D%2223%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2022.677%2022.677%22%3E%09%09%3Cpath%20fill%3D%22white%22%20d%3D%22m16.672%2011.339c0%202.945-2.389%205.333-5.334%205.333s-5.334-2.388-5.334-5.333c0-2.943%202.385-5.329%205.326-5.333v2.336l7.016-3.503-7.016-3.503v2.004c-4.414%200.004-7.992%203.583-7.992%207.999%200%204.418%203.582%208%208%208s8-3.582%208-8h-2.666z%22%2F%3E%3C%2Fsvg%3E"); }
        #av-container #av-inner #gui #buttons #left #phone {
          width: auto;
          font-size: 0; }
          #av-container #av-inner #gui #buttons #left #phone .icon {
            width: 24px;
            height: 24px;
            display: inline-block;
            vertical-align: top;
            background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22phone-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2223%22%20viewBox%3D%220%200%2022.677%2022.677%22%20width%3D%2223%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2022.677%2022.677%22%3E%3Cpath%20fill%3D%22white%22%20clip-rule%3D%22evenodd%22%20d%3D%22m20.154%2017.236c0.299-0.298%200.254-0.921-0.236-1.188-0.492-0.267-4.518-2.602-4.982-2.138-0.463%200.465-1.447%201.498-2.135%201.188s-2.289-1.816-2.846-2.375c-0.559-0.557-2.064-2.159-2.377-2.847-0.31-0.687%200.725-1.67%201.188-2.134%200.464-0.465-1.87-4.491-2.137-4.982-0.266-0.489-0.889-0.534-1.188-0.237s-2.18%202.176-2.85%202.847c-0.671%200.671-0.279%205.415%204.514%2010.202%204.787%204.792%209.531%205.185%2010.203%204.514%200.671-0.671%202.549-2.551%202.846-2.85z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
            background-repeat: no-repeat;
            background-size: cover; }
          #av-container #av-inner #gui #buttons #left #phone #phone-num {
            display: inline-block;
            margin-left: 4px;
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            font-weight: 400;
            font-family: Helvetica,Arial,fallback,sans-serif;
            color: white; }
      #av-container #av-inner #gui #buttons #right {
        right: 13px; }
        #av-container #av-inner #gui #buttons #right > div {
          position: relative;
          float: right;
          margin-left: 14px; }
        #av-container #av-inner #gui #buttons #right #sound {
          background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22sound-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2223%22%20viewBox%3D%220%200%2022.68%2022.68%22%20width%3D%2223%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2022.68%2022.68%22%3E%09%09%3Cpolygon%20fill%3D%22white%22%20points%3D%227.247%207.34%201.761%207.34%201.761%2015.34%207.247%2015.34%2012.743%2019.346%2012.743%203.334%22%20clip-rule%3D%22evenodd%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E"); }
          #av-container #av-inner #gui #buttons #right #sound div {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-size: cover; }
          #av-container #av-inner #gui #buttons #right #sound div.on {
            background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22sound-on-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2223%22%20viewBox%3D%220%200%2022.677%2022.677%22%20width%3D%2223%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2022.677%2022.677%22%3E%09%09%3Cpath%20fill%3D%22white%22%20d%3D%22m17.808%204.757l-1.705%201.881c1.357%201.146%202.221%202.824%202.221%204.7s-0.863%203.556-2.221%204.701l1.705%201.881c1.902-1.605%203.109-3.955%203.109-6.582%200-2.626-1.207-4.975-3.109-6.581z%22%20%2F%3E%3C%2Fsvg%3E"); }
          #av-container #av-inner #gui #buttons #right #sound div.off {
            background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22sound-off-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2223%22%20viewBox%3D%220%200%2022.677%2022.677%22%20width%3D%2223%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2022.677%2022.677%22%3E%09%09%3Cpolygon%20points%3D%2220.009%2011.337%2022.671%208.674%2021.343%207.345%2018.679%2010.007%2016.015%207.345%2014.685%208.674%2017.349%2011.337%2014.681%2014.003%2016.015%2015.331%2018.679%2012.666%2021.343%2015.331%2022.677%2014.003%22%20fill%3D%22red%22%20clip-rule%3D%22evenodd%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E"); }
        #av-container #av-inner #gui #buttons #right #share {
          background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22share-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2223%22%20viewBox%3D%220%200%2022.677%2022.677%22%20width%3D%2223%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2022.677%2022.677%22%3E%3Cpath%20fill%3D%22white%22%20clip-rule%3D%22evenodd%22%20d%3D%22m17.338%2014.339c-0.695%200-1.328%200.246-1.838%200.645l-7.17-3.567c0-0.026%200.008-0.051%200.008-0.078%200-0.026-0.008-0.052-0.008-0.078l7.17-3.566c0.51%200.397%201.143%200.645%201.838%200.645%201.656%200%203-1.343%203-3s-1.344-3-3-3-3%201.343-3%203c0%200.188%200.023%200.372%200.057%200.552l-6.864%203.412c-0.549-0.591-1.324-0.966-2.193-0.966-1.656%200-3%201.343-3%203s1.344%203%203%203c0.869%200%201.645-0.375%202.193-0.965l6.863%203.412c-0.033%200.18-0.057%200.363-0.057%200.553%200%201.656%201.344%203%203%203s3-1.344%203-3-1.343-2.999-2.999-2.999z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E"); }
        #av-container #av-inner #gui #buttons #right #fullscreen.off {
          background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22fullscreen-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2223%22%20viewBox%3D%220%200%2022.677%2022.677%22%20width%3D%2223%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2022.677%2022.677%22%3E%09%09%3Cpath%20fill%3D%22white%22%20d%3D%22m4.339%2015.339h-2v5h5v-2h-3v-3zm-2-8.001h2v-3h3v-2h-5v5zm13-5v2h3v3h2v-5h-5zm3%2016.001h-3v2h5v-5h-2v3z%22%2F%3E%3C%2Fsvg%3E"); }
        #av-container #av-inner #gui #buttons #right #fullscreen.on {
          background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22fullscreen-off-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2223%22%20viewBox%3D%220%200%2022.677%2022.677%22%20width%3D%2223%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2022.677%2022.677%22%3E%09%09%3Cpath%20fill%3D%22white%22%20d%3D%22m6.338%206.338h-3v2h5v-5h-2v3zm-3%2010.001h3v3h2v-5h-5v2zm11%203h2v-3h3v-2h-5v5zm2-13.001v-3h-2v5h5v-2h-3z%22%2F%3E%3C%2Fsvg%3E"); }
    #av-container #av-inner #gui #big-play {
      display: none;
      position: absolute;
      width: 80px;
      height: 80px;
      top: 50%;
      left: 50%;
      margin-top: -24px;
      margin-left: -24px;
      background-color: rgba(0, 0, 0, 0.5);
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22play-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2223%22%20viewBox%3D%220%200%2022.677%2022.677%22%20width%3D%2223%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2022.677%2022.677%22%3E%09%3Cpath%20fill%3D%22white%22%20d%3D%22m19.343%2011.251c-0.035-0.439-0.334-0.874-0.902-1.207l-10.905-6.403c-1.211-0.712-2.203-0.138-2.203%201.275v7.463c5.85-2.36%2013.783-1.163%2014.01-1.128z%22%2F%3E%09%3Cpath%20fill%3D%22white%22%20d%3D%22m5.333%2017v0.762c0%201.412%200.992%201.985%202.203%201.273l10.904-6.402c0.643-0.377%200.941-0.882%200.902-1.379-8.65%200.696-12.404%203.614-14.009%205.746z%22%2F%3E%3C%2Fsvg%3E");
      background-size: 65%;
      background-position: 16px center;
      background-repeat: no-repeat;
      border: 4px solid white;
      border-radius: 50%; }
			#av-container #av-inner #gui #close-btn {
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 28px;
			  height: 28px;
			  background-color:rgb(50,50,50);
			  background-color:rgba(0,0,0,0.4);
			  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22close-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2223%22%20viewBox%3D%220%200%2022.677%2022.677%22%20width%3D%2223%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2022.677%2022.677%22%3E%09%09%3Cpolygon%20fill%3D%22white%22%20points%3D%2219.346%205.421%2017.256%203.332%2011.338%209.25%205.42%203.332%203.332%205.421%209.25%2011.338%203.332%2017.257%205.42%2019.345%2011.338%2013.427%2017.256%2019.345%2019.346%2017.257%2013.428%2011.338%22%20clip-rule%3D%22evenodd%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
			  background-repeat: no-repeat;
			  background-size: 60%;
			  background-position: center;
			  border-color:white;
			  border-style:solid;
			  border-width:0 1px 1px 0;
			  -webkit-transition: all 0.15s ease-in-out;
			  -moz-transition: all 0.15s ease-in-out;
			  -o-transition: all 0.15s ease-in-out;
			  transition: all 0.15s ease-in-out;
			}
			#av-container #av-inner #gui #timer {
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 28px;
			  height: 28px;
			  background-color:rgb(0,0,0);
			  background-color:rgba(0,0,0,0.7);
			  color:white;
			  font-family: Helvetica, Arial, fallback, sans-serif;
			  font-size:12px;
			  text-align:center;
			  line-height:28px;
			  border-color:white;
			  border-style:solid;
			  border-width:0 1px 1px 0;
			  -webkit-transition: all 0.15s ease-in-out;
			  -moz-transition: all 0.15s ease-in-out;
			  -o-transition: all 0.15s ease-in-out;
			  transition: all 0.15s ease-in-out;
			}
			#av-container #av-inner #gui #skip-btn {
			  position: absolute;
			  bottom: 60px;
			  right: 0;
			  padding: 0 12px;
			  height: 32px;
			  background-color: rgb(50,50,50);
			  background-color: rgba(0,0,0,0.4);
			  color: white;
			  font-family: Helvetica, Arial, fallback, sans-serif;
			  font-size: 14px;
			  text-align: center;
			  text-transform: uppercase;
			  line-height: 32px;
			  border-color: white;
			  border-style: solid;
			  border-width: 1px 0 1px 1px;
			  -webkit-transition: all 0.15s ease-in-out;
			  -moz-transition: all 0.15s ease-in-out;
			  -o-transition: all 0.15s ease-in-out;
			  transition: all 0.15s ease-in-out;
			}
			#av-container #av-inner #gui #aniview-credit {
      position: absolute;
      top: 2px;
      right: 2px;
      height: 24px;
      line-height: 24px;
      font-size: 11px;
      font-family: Helvetica,Arial,fallback,sans-serif;
      font-weight: 500;
      color: white; }
      #av-container #av-inner #gui #aniview-credit span {
        display: inline-block;
        vertical-align: top;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22play-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2223%22%20viewBox%3D%220%200%2022.677%2022.677%22%20width%3D%2223%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2022.677%2022.677%22%3E%09%3Cpath%20fill%3D%22red%22%20d%3D%22m19.343%2011.251c-0.035-0.439-0.334-0.874-0.902-1.207l-10.905-6.403c-1.211-0.712-2.203-0.138-2.203%201.275v7.463c5.85-2.36%2013.783-1.163%2014.01-1.128z%22%2F%3E%09%3Cpath%20fill%3D%22red%22%20d%3D%22m5.333%2017v0.762c0%201.412%200.992%201.985%202.203%201.273l10.904-6.402c0.643-0.377%200.941-0.882%200.902-1.379-8.65%200.696-12.404%203.614-14.009%205.746z%22%2F%3E%3C%2Fsvg%3E"); }

#av-container.desktop #gui:before {
  opacity: 0;
  filter: alpha(opacity=0);
  bottom: -15%; }
#av-container.desktop #gui #timeline {
  opacity: 0;
  filter: alpha(opacity=0); }
#av-container.desktop #gui #buttons {
  opacity: 0;
  filter: alpha(opacity=0); }

#av-container.desktop:hover #gui:before {
  opacity: 1;
  filter: alpha(opacity=100);
  bottom: 0; }
#av-container.desktop:hover #gui #timeline {
  opacity: 1;
  filter: alpha(opacity=100); }
#av-container.desktop:hover #gui #buttons {
  opacity: 1;
  filter: alpha(opacity=100); }

	#av-container.desktop #av-inner #gui #close-btn:hover, #av-container.desktop #av-inner #gui #skip-btn:hover {
	  cursor: pointer;
	  background-color: rgb(0,0,0);
	  background-color: rgba(0,0,0,0.7);
	}


#av-container.responsive {
  width: 100%;
  height: 520px; }

#av-container.hide-controls #timeline, #av-container.hide-controls #buttons, #av-container.hide-controls #av-inner #gui:before {
  display: none; }

#av-container.two-x #av-inner #gui:before {
  height: 15%; }
#av-container.two-x #av-inner #gui #timeline {
  bottom: 45px;;
  left: 10px;
  right: 10px;
  height: 3px; }
#av-container.two-x #av-inner #gui #buttons #play-pause, #av-container.two-x #av-inner #gui #buttons #phone, #av-container.two-x #av-inner #gui #buttons #sound, #av-container.two-x #av-inner #gui #buttons #share, #av-container.two-x #av-inner #gui #buttons #fullscreen {
  width: 24px;
  height: 24px; }
#av-container.two-x #av-inner #gui #buttons #left, #av-container.two-x #av-inner #gui #buttons #right {
  height: 24px;
  bottom: 15px; }
#av-container.two-x #av-inner #gui #buttons #left {
  left: 13px; }
  #av-container.two-x #av-inner #gui #buttons #left > div {
    margin-right: 20px; }
  #av-container.two-x #av-inner #gui #buttons #left #phone .icon {
    width: 24px;
    height: 24px; }
  #av-container.two-x #av-inner #gui #buttons #left #phone #phone-num {
    margin-left: 4px;
    height: 24px;
    line-height: 24px;
    font-size: 12px; }
#av-container.two-x #av-inner #gui #buttons #right {
  right: 13px; }
  #av-container.two-x #av-inner #gui #buttons #right > div {
    margin-left: 20px; }
#av-container.two-x #av-inner #gui #big-play {
  width: 160px;
  height: 160px;
  margin-top: -85px;
  margin-left: -85px;
  background-position: 32px center;
  border: 5px solid white; }
#av-container.two-x #av-inner #gui #skip-ad {
  width: 106px;
  height: 28px;
  line-height: 28px;
  font-size: 12px; }
  #av-container.two-x #av-inner #gui #skip-ad p {
    width: 96px; }
  #av-container.two-x #av-inner #gui #skip-ad #close {
    width: 28px;
    height: 28px; }
#av-container.two-x #av-inner #gui #skip-ad.close {
  width: 28px; }
#av-container.two-x #av-inner #gui #aniview-credit {
  height: 24px;
  line-height: 24px;
  font-size: 11px; }
  #av-container.two-x #av-inner #gui #aniview-credit span {
    width: 24px;
    height: 24px; }

#av-container.buttons-below #av-inner #slot #videoslot {
  top: 0;
  transform: none; }
  
#av-testcss {
	margin-top:3px;
}
